In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("dataset.csv")

In [3]:
data.head()

,date,time,username,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [4]:
labels=data.activity

In [5]:
data_dropped=data.drop(["username","activity"],axis=1)

In [6]:
data_dropped.head()

,date,time,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [7]:
data_dropped=data_dropped.set_index("date")

In [8]:
data_dropped.head()

,time,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
date,,,,,,,
2017-6-30,13:51:15:847724020,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
2017-6-30,13:51:16:246945023,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2017-6-30,13:51:16:446233987,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
2017-6-30,13:51:16:646117985,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
2017-6-30,13:51:16:846738994,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [9]:
features=data_dropped.values

In [10]:
features

array([['13:51:15:847724020', 0.265, -0.7814, ..., -0.059, 0.0325, -2.9296],
       ['13:51:16:246945023', 0.6722, -1.1233, ..., -0.1757, 0.0208, 0.1269],
       ['13:51:16:446233987', 0.4399, -1.4817, ..., -0.9105, 0.1063,
        -2.4367],
       ...,
       ['20:9:15:717828989', 0.4587, -1.178, ..., -1.45, -0.2792, -1.2616],
       ['20:9:15:917932987', 0.259, -0.8582, ..., -1.5165, 0.456, -1.7755],
       ['20:9:16:117410004', 0.314, -0.8008, ..., 0.1183, 1.085, 1.2814]], dtype=object)

In [11]:
data_time_dropped=data_dropped.drop(["time"],axis=1)

In [12]:
data_time_dropped.head()

,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
date,,,,,,
2017-6-30,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
2017-6-30,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2017-6-30,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
2017-6-30,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
2017-6-30,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [13]:
features=data_time_dropped.values

In [14]:
features

array([[ 0.265 , -0.7814, -0.0076, -0.059 ,  0.0325, -2.9296],
       [ 0.6722, -1.1233, -0.2344, -0.1757,  0.0208,  0.1269],
       [ 0.4399, -1.4817,  0.0722, -0.9105,  0.1063, -2.4367],
       ...,
       [ 0.4587, -1.178 , -0.2827, -1.45  , -0.2792, -1.2616],
       [ 0.259 , -0.8582, -0.0759, -1.5165,  0.456 , -1.7755],
       [ 0.314 , -0.8008, -0.0911,  0.1183,  1.085 ,  1.2814]])

In [15]:
LABELS=labels.values

In [17]:
FEATURES=features

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(FEATURES,LABELS,test_size=0.3,random_state=1)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
RanFor=RandomForestClassifier(n_estimators=100,random_state=1)

In [23]:
RanFor.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=1,
            verbose=0, warm_start=False)

In [24]:
from sklearn.metrics import *

In [25]:
accuracy_score(y_train,RanFor.predict(x_train))

1.0

In [26]:
accuracy_score(y_test,RanFor.predict(x_test))

0.9902055942821848

In [27]:
precision_score(y_test,RanFor.predict(x_test))

0.99204093234792501

In [28]:
recall_score(y_test,RanFor.predict(x_test))

0.99218194740582799

In [29]:
f1_score(y_test,RanFor.predict(x_test))

0.9921114348660367